.#.bash_profile
.CFUserTextEncoding
.DS_Store
.Trash
.Xauthority
.Xcode
.adobe
.anyconnect
.aqbanking
.bash_history
.bash_profile.macports-saved_2013-06-17_at_01:54:20
.bash_profile.save
.bash_profile~
.config
.cups
.datathief
.docear
.dropbox
.emacs_bash
.enthought
.filezilla
.fontconfig
.gconf
.gconfd
.gdb_history
.git
.gitconfig
.gnome2
.gnome2_private
.idlerc
.ido.last
.ipython
.lesshst
.local
.matlab
.matplotlib
.putty
.rubberband.wisdom.d
.scrath.swp
.sooperlooper
.ssh
.subversion
.swp
.theano
.viminfo
Applications
Desktop
Documents
Downloads
Dropbox
Google Drive
Library
Mail
Movies
Music
Pictures
Public
Sites
github
jengel
